<!doctype html>
<html lang="es">
    <head>
        <title>Entrega en domiclio autorizada</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <!-- header -->
        <div style="box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
            <table style="box-sizing: border-box;  font-family: Arial, Helvetica, sans-serif; width: 100%;">
                <caption></caption>
                <th></th>
                <tr>
                    <td style="width:10%; text-align: center;">
                            <img style="height:60px; width:78px;" alt="" src="data:image/png;base64,@@logo_pwc@@"/>
                    </td>
                    <td style=" width:70%;
                                        text-align:left;
                                        padding-left:10px;
                                        padding-top:25px;
                                        background-color: black;
                                        color:white;
                                        font-family:Georgia;
                                        font-weight: normal;">
                        <h1 style="font-family:Georgia; font-weight: normal;">Renove iPhone</h1>
                        <h4 style="font-family:Georgia; font-weight: normal;">Te hemos entregado tu nuevo móvil PwC</h4>
                    </td>
                    <td style= "width:10%;
                                background-color:#f3f3f3;
                                text-align:center;">
                        <img style="padding:5px; height:102px; width:73px;" alt="" src="data:image/png;base64,@@logo_header@@"/>
                    </td>
                    </td>
                    <td style="width:5%"></td>
                </tr>
            </table>
            <!-- container -->
            <div style="color:black;
                    float:left;
                    width: 100%;
                    padding-left: 10.7%;
                    padding-right: 5.5%;
                    box-sizing: border-box;"
                    >
                <div class="row">
                    <!-- Información correo -->
                    <div class="col-lg-4">
                        <p>Hola @@nombre_pila@@,</p>
                        <p><strong>Tu solicitud para renovar tu móvil PwC ha sido completada:</strong></p>
                        <ul>
                            <li>
                                <strong>Fecha y hora de la entrega:</strong> @@fecha_entrega@@
                            </li>
                            <li>
                                <strong>Dispositivo entregado:</strong> @@terminal_nuevo@@
                            </li>
                            <li>
                                <strong>IMEI:</strong> @@imei_nuevo@@
                            </li>
                        </ul>
                    </div>
                    <br>
                    <!-- Modificar cita -->
                    <div class="col-lg-4">
                        <strong>Puedes valorar el proceso de renovación en <a href="https://forms.gle/bK9cr7499T9KK2qD8">este enlace</a></strong>
                    </div>
                    <br>
                    <!-- Condiciones -->
                    <div class="col-lg-4" style="background-color:red; color:white; padding:10px;">
                        <strong>Instrucciones para configurar tu nuevo iPhone</strong>
                    </div>
                    <br>
                    <div class="col-lg-4">
                        <ul>
                            <li>
                                El traspaso de la información corporativa se hace de forma automática siguiendo los pasos de las instrucciones anteriores. Para los datos personales se recomienda encarecidamente tener contratado espacio en iCloud.
                                De esta manera dichos datos se visualizarán de forma automática en el nuevo teléfono, sin necesidad de realizar una copia previamente.
                            </li>
                            <br>
                            <li>
                                Accede a esta <a href="https://docs.google.com/presentation/d/1q3rL0mMwZcAxS3_0hVpXpE289o13pin-MVVr0ierfd4/edit#slide=id.g97a837fc0f_58_60">Guía de Configuración</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @@firma@@
        <div style="font-family: Arial, Helvetica, sans-serif;
        float:left;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10.7%;
        margin-right: 5.5%;
        background-color:black;
        color:white;">
<h4>¡El equipo de IT!</h4>
<p>Recuerda que puedes <a href="https://wwwpwcnetwork.pwc.myshn.net/hub?id=sc_cat_item&sys_id=3f1dd0320a0a0b99000a53f7604a2ef9" style="color:orange;text-decoration:none;">abrir un ticket</a> en ServiceNow para registrar una incidencia. Toda la información en nuestro Site de Technology accesible desde <a href="https://sites.google.com/pwc.com/myintranet/home" style="color:orange;text-decoration:none;">MyIntranet</a> > Servicios de Firma > Tecnología.</p>
<img src="../../../public/correos/footer.png" alt="imagen_header" style =" height:82px; width:265px;"/>
</div>
    </body>
</html>
