<!doctype html>
<html lang="es">
    <head>
        <title>Entrega en domiclio no autorizada</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <!-- header -->
        <div style="box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">

            <table style="box-sizing: border-box;  font-family: Arial, Helvetica, sans-serif; width: 100%;">
                <caption></caption>
                <th></th>
                <tr>
                    <td style="width:10%; text-align: center;">
                            <img style="height:60px; width:78px;" alt="" src="data:image/png;base64,@@logo_pwc@@"/>
                    </td>
                    <td style=" width:70%;
                                        text-align:left;
                                        padding-left:10px;
                                        padding-top:25px;
                                        background-color: black;
                                        color:white;
                                        font-family:Georgia;
                                        font-weight: normal;">
                        <h1 style="font-family:Georgia; font-weight: normal;">Renove iPhone</h1>
                        <h4 style="font-family:Georgia; font-weight: normal;">Entrega a domicilio denegada</h4>
                    </td>
                    <td style= "width:10%;
                        background-color:#f3f3f3;
                        text-align:center;">
                        <img style="padding:5px; height:102px; width:73px;" alt="" src="data:image/png;base64,@@logo_header@@"/>
                    </td>
                    </td>
                    <td style="width:5%"></td>
                </tr>
            </table>
            <!-- container -->
            <div style="color:black;
                    float:left;
                    width: 100%;
                    padding-left: 10.7%;
                    padding-right: 5.5%;
                    box-sizing: border-box;"
                    >
                <div class="row">
                    <!-- Información correo -->
                    <div class="col-lg-4">
                        <p>Hola @@nombre_pila@@,</p>
                        <p><strong>Tu solicitud para renovar tu móvil PwC ha sido denegada.</strong></p>
                        <ul>
                            <li>
                                <strong>Motivo:</strong>@@motivo_rechazo@@
                                <br>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <!-- Condiciones -->
                    <div class="col-lg-4" style="background-color:red; color:white; padding:10px;">
                        <strong>¿Qué tengo que hacer?</span></strong>
                    </div>
                    <br>
                    <div class="col-lg-4">
                        <ul>
                            <li>
                                Vuelve a solicitar la renovación de tu móvil en <a href="https://www.renuevatuterminal.com">este enlace</a> seleccionando la opción “Entrega en sede”
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @@firma@@
    </body>
</html>
