<!doctype html>
<html lang="es">
    <head>
        <title>Entrega en domiclio autorizada</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <!-- header -->
        <div style="box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
            <table style="box-sizing: border-box;  font-family: Arial, Helvetica, sans-serif; width: 100%;">
                <caption></caption>
                <th></th>
                <tr>
                    <td style="width:10%; text-align: center;">
                            <img style="height:60px; width:78px;" alt="" src="data:image/png;base64,@@logo_pwc@@"/>
                    </td>
                    <td style=" width:70%;
                                        text-align:left;
                                        padding-left:10px;
                                        padding-top:25px;
                                        background-color: black;
                                        color:white;
                                        font-family:Georgia;
                                        font-weight: normal;">
                        <h1 style="font-family:Georgia; font-weight: normal;">Renove iPhone</h1>
                        <h4 style="font-family:Georgia; font-weight: normal;">Entrega a domicilio autorizada</h4>
                    </td>
                    <td style= "width:10%;
                                background-color:#f3f3f3;
                                text-align:center;">
                        <img style="padding:5px; height:102px; width:73px;" alt="" src="data:image/png;base64,@@logo_header@@"/>
                    </td>
                    </td>
                    <td style="width:5%"></td>
                </tr>
            </table>
            <!-- container -->
            <div style="color:black;
                    float:left;
                    width: 100%;
                    padding-left: 10.7%;
                    padding-right: 5.5%;
                    box-sizing: border-box;"
                    >
                <div class="row">
                    <!-- Información correo -->
                    <div class="col-lg-4">
                        <p>Hola @@nombre_pila@@,</p>
                        <p><strong>Tu solicitud para renovar tu móvil PwC ha sido autorizada con los siguientes datos:</strong></p>
                        <ul>
                            <li>
                                <strong>Lugar de entrega:</strong>
                                <br>@@direccion@@
                                <br>@@codigo_postal@@ @@poblacion@@
                                <br>@@provincia@@
                                <br>
                            </li>
                            <li>
                                <strong>Adquieres terminal actual:</strong> @@adquiere_terminal@@
                                <br>
                                <span style="color:red;">En caso de NO haber adquirido el terminal actual:</span>
                                <br>
                                <br>
                                <ul style="list-style-type: disc;color:red;">
                                    <li>Debes entregarlo (también el cargador) a la empresa de distribución para que te podamos hacer entrega del nuevo y <strong style="text-decoration:underline;">desactivar la opción “Buscar mi iPhone”</strong>: Ajustes > ID de Apple > Buscar > Buscar mi iPhone > Desactivar.</li>
                                    <li><strong style="text-decoration:underline;">Será necesario borrar tu dispositivo:</strong> Ajustes > General > Transferir o restablecer el iPhone > Borrar contenido y ajustes</li>
                                </ul>
                        </ul>
                    </div>
                    <br>
                    <!-- Condiciones -->
                    <div class="col-lg-4" style="background-color:red; color:white; padding:10px;">
                        <strong>Condiciones de este proceso de renovación</strong>
                    </div>
                    <br>
                    <div class="col-lg-4">
                        <ul>
                            <li>
                                El traspaso de la información corporativa se hace de forma automática siguiendo los pasos de las instrucciones anteriores. Para los datos personales se recomienda encarecidamente tener contratado espacio en iCloud.
                                De esta manera dichos datos se visualizarán de forma automática en el nuevo teléfono, sin necesidad de realizar una copia previamente.
                            </li>
                            <br>
                            <li>
                                Es importante que conozcas esta información: <a href="https://docs.google.com/presentation/d/18SjXXx68BJkIrRT_fFMT4SJyMwrmplU_Q3xtktLonmU/edit?usp=sharing">Condiciones adquisición móviles PwC</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @@firma@@
    </body>
</html>
